<div class="row mt-4 h-100" style="background:url('https://images.unsplash.com/photo-1586191582151-f73872dfd183?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxNzA4Mjc2fHxlbnwwfHx8fHw%3D&w=1000&q=80')" >
    <h1 class="text-center">Login</h1>
    <div class="col-4 mx-auto">
        <form action="/user/login" method="post">
            <div class="col mb-3">
                <input class="form-control" type="email" placeholder="email" name="email">
            </div>
            <div class="col mb-3">
                <input class="form-control" type="password" placeholder="password" name="password">
            </div>
            <div class="d-grid gap-2 col">
                <button class="btn btn-danger" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>