<div class="row mt-4 h-100" style="background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-_jab3oFimcoE4XOyM0n8eMFz1eCVT985uQ&usqp=CAU')">
    <h1 class="text-center" class="text-white"> Register</h1>
    <div class="col-4 mx-auto">
        <form action="/user/register" method="post">
            <div class="col mb-3">
               <label>
                   <input type="text" placeholder="name" name="name">
               </label>
           </div>
           <div class="col mb-3">
               <label>
                   <input type="text" placeholder="phoneno" name="phoneno">
               </label>
           </div>
            <div class="col mb-3">
                <label>
                    <input type="email" placeholder="email" name="email">
                </label>
            </div>
            <div class="col mb-3">
                <label>
                    <input type="password" placeholder="password" name="password">
                </label>
            </div>
            <div class="d-grid gap-2 col">
                <button class="btn btn-secondary">Register</button>
            </div> 
        </form>
    </div>
</div>